<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaPodsDemo_github.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9D4E5EF1CBCA7B100606956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D4E60B1CBCA7B200606956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D4E6161CBCA7B200606956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
